/*
**********
Page
**********
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;
}
.claerfix::after{
    display: block;
    content:'';
    clear: both;
}
/*
**********
Header
**********
*/
h1,h2,h3,h4{
    font-weight: bolder;
}
h1{
    font-size: 40px;
    color: #e53170;
}
header{
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}
p{
    padding-top: 40px;
}
/*
**********
Main
**********
*/
.cards> .credit{
    float:left;
    padding: 20px;
    width: calc(75% / 3 - 20px);
    background-color: #0f0e17;
    margin:10px;
}
.info> h3,h4 {
    color: #fffffe;
}
.photo{
    float: left;
    width: 50px;
}
.info{
    float: right;
    width: calc(100% / 200px);
}
.photo img{
    width: 100%;
    display: block;
}